@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*navigation*/
body {
	max-width: 100%;
    overflow-x: hidden;
	margin:0;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	text-decoration:none;
	color:#000000;
}
/*burger icon*/
.burger-icon{
	margin-left:90%;
	padding-right:5%;
	font-size:190%;
	display:none;
}
/* */

#logo{
	float:left;
	display: inline-block;
	padding:0 10px;
	float: left;
	width: 60px;
}

#logo2{
	display:none;
}

nav {
	background-color: #ffffff;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	position: relative;
	width: 100%;
	float:right;
	z-index:10;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.sticky{
	top:0;
	position:sticky;
	z-index:10;
}

nav ul {
	float: right;
	margin:0;
	list-style: none;
	position: relative;
	padding-top:0.8em;
}

nav ul li {
	display:inline-block;
	margin-right:18px;
	background-color:white;
	z-index:10;
}

nav ul li:hover{
	background-color:#FAF0E6;
}

#menucolor{
	padding-left:41px;
	padding-right:52.5px;
	margin:0;
}

#menuaboutus{
	padding-left:10px;
	padding-right:0;
	margin:0;
}

nav li{
	list-style-type: none;
	margin: 0;
	display:inline-block;
	padding: 0.5em;
	z-index:10;
}

nav ul ul{
	display: none;
	position:absolute;
	padding: 0;
	text-align:left;
	top: 70px;
}

nav ul ul li{
	width:155px;
	margin-left:-80px;
	display:list-item;
	background-color:#FAF0E6;
	text-align:center;
	z-index:10;
}

nav ul ul li:hover{
	background-color:#A66767;
}

nav ul ul ul li {
	position: relative;
	top:-70px;
	z-index:10;
}

nav li:hover >ul{
	display:inherit;
}

nav a { text-decoration: none;
       display: block;
	   padding:14px 16px;
	   font-size:17px;
}
nav a:link { color: #AE622D; }
nav a:visited { color: #AE622D; }
nav a:hover {  color: #000000;}

/*Go to top button */
.go-top{
	font-family:'Open Sans', sans-serif;
	background-color:maroon;
	color:white;
	display:inline-block;
	border:4px solid #ffffff;
	border-radius:10px;
	font-size:190%;
	transition: background-color 0.2s ease-out;
	padding:20px;
	margin-left:94%;
	margin-bottom:1%;
}


.go-top:hover,.go-top:active{
	background-color: black;
	color:white;
	opacity:0.8;
}

/*-------------------footer---------------------------------*/
/* social media */
.socialmedia{
	text-align:center;
}

.social-bg{
	background-color:#F8F9F9;

}

.socialmedia li{
	  display:inline-block;
}

.socialmedia li img {
	  padding-top:10px;
	  width:25%;
	  height:15%;

}

#morefromus{
	font-weight:bold;
	font-family:'Open Sans', Arial;
	padding-bottom:5px;
}


.copyright{
	background-color:#150E07;
	color:#ffffff;
	text-align:center;
	font-family:'Open Sans', Arial, sans-serif;
	font-size:13px;
	padding:15px;
	font-weight:bold;

}

.footer{

	text-align:left;
	padding-bottom:15px;
	padding-left:15px;

}

.footer-th, .footer-th a{
	font-family:'Open Sans';
	font-size:25px;
	color:#FFD59A;
	width:300px;
}




.footer-td, .footer-td a{
	font-family:'Open Sans';
	font-size:100%;
	color:white;
}

.footer-td a:hover{
	color:yellow;
}

#sub{
	background-color:maroon;
	font-weight:bold;
	color:white;
	padding:2px 2px;
	font-family:'Open Sans',sans-serif;

}

#sub:hover{
	background-color:black;
	color:white;
	transition: background-color 0.2s ease-in;

}

footer{
	background-color:#3E2A16;
}

/* <Media Queries>
--------------------------------------------- */

@media only screen and (min-width:0px) and (max-width:768px) {
	/* nav */
	nav {
		width:auto;
		height:auto;}

	#logo{
		display:none;
	}

	#logo2{
		display:block;
		margin-left:44%;
	}

	.sticky{
		position:relative;
	}

	nav a{
		font-size:80%;
	}

	#menucolor{
		padding-left:47px;
		padding-right:57.5px;
	}

	/* go to top */
	.go-top{

	font-size:80%;

	margin-left:87%;
	}


	/*social*/
	.socialmedia{
		margin-left:-10%;
	}

	/* footer */
	.footer{
		padding-left:20px;
	}

	.footer-th{
		font-size:150%;
	}


	.footer-td{
		font-size:80%;
	}

	/*content*/
	.header-img {
		height:400px;
		padding-bottom:19%;
	}

	.pastry-sandwich{
		font-size:70%;
	}

	.foodimage,.foodimage2,.foodimage3,.foodimage4{
		flex-direction:column;
	}

	.foodimage {
		width: 100%;
		padding-top:50px;
	}

	.foodimage3 {
		padding-top:100px;
	}

	.fooddescription {
		text-align:left;
	}

	.overlay {
		width: 150%;
	}



}
@media only screen and (min-width:0px) and (max-width:480px) {
	/*footer */
	.footer-th,.footer-th a{
		font-size:95%;
	}

	.footer-td{
		font-size:60%;
	}

	.footer{
		padding:2%;
	}

	.socialmedia{
		  display:none;
	}

	.copyright{
		font-size:60%;
	}

	/*nav  */
	nav a:hover{

		color:orange;
	}


	nav a{
		font-size:10px;
		padding:0;
		margin-left:-10px;

	}

	nav ul li:hover{
		background-color:white;
	}

	#menucolor{
		padding-left:50px;
	}

	#menuaboutus{
		padding-left:30px;
		padding-right:0px;

	}

	nav ul ul li{
		display:none;
	}

	/*burger icon*/
	nav{
		display:none;
	}

	.burger-icon{
		display:block;
	}

	#logo{
		display:none;
	}

	#logo2{
		display:block;
		margin-left:38%;
	}

	/*go to top */
	.go-top{
		font-size:60%;
		padding:15px;
	}

	/*content*/
	.header-img {
		font-size:40px;
		line-height:200px;
	}
	
	#go-menu {
		display:block;
	}

	.pastry-sandwich{
		font-size:40%;
	}


	.food > div{
		flex-direction:column;
	}

	.overlay {
		width: 150%;
	}

	.header-img {
		height:335px;

	}
	.dessert-title{
		font-size:80%;
	}


/*faq*/
#faq-eng p,#faq-bm p{
	font-size:80%;
}



.freq-q{
	font-size:70%;
}

.faq-know{
	font-size:10%;
}

}

@media screen and (min-width: 481px) and (max-width: 2000px) {
	#go-menu {
		display:none;
	}
}


/*<//Media Queries>-->


/*content----------------------------------------------------*/
.header-img {
	line-height:400px;
	color:white;
	font-size:100px;
	font-family:'Open Sans', sans-serif;
	text-align:center;
	background-repeat:no-repeat;
	background-size: cover;
	margin-bottom:10px;
}

.go-menu {
	margin-left:20px;
	font-size:20px;
	font-family:Comic Sans MS;
	color:red;
}

/*Content of Bakery.html, Dessert.html*/
.dessertTitle {
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	text-align:left;
	font-size:35px;
	color:#000000;
	margin:10px;
	padding:10px;
	border-bottom:2px solid #808080;
}

.food {
	width:100%;
	height:auto;
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	flex-flow:wrap;
}

.food > div {
  flex: 1;
}

.foodimage {
	position: relative;
    width: 50%;
	max-width: 300px;
}

.overContainer{
	position: relative;
	width: 100%;
	max-width: 300px;
	margin-left:10px;
}

.foodname {
	font-weight:bold;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	text-align:center;
	padding:5px;
	width:300px;
	background:#3E2A16;
	color:#ffffff;
	box-sizing:border-box;
	box-shadow: 2px -2px 5px grey;
	margin-left:10px;
}

.fooddescription {
	padding:5px;
	text-align:center;
	box-sizing:border-box;
	box-shadow: 2px -2px 5px grey;
	margin-left:10px;
	margin-bottom:20px;
	width: 299px;
}

.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 15px;
	padding: 15px 0px;
	text-align: center;

}

.box{
	width:100%;
	height:300px;
	border:2px solid grey;
	box-shadow: 2px 2px 5px grey;
	display:block;
	box-sizing:border-box;
	margin-top:10px;
}

.overContainer:hover .overlay {
	opacity: 1;
}

/*content of FAQs.html desktop view*/
.header-FAQ {
	padding-top:10%;
	font-size:250%;
	text-align:center;
	color:white;
	margin-top:0;
	font-family:'Open Sans', Calibri, sans-serif;
	font-weight:bold;
}

.faq-know{
	font-size:50%;
	text-align:center;
	color:white;
	font-family:'Open Sans', Calibri, sans-serif;

}


#faq-eng{
	margin-left:auto;
	margin-right:auto;
	padding:3%;
	width:90%;
	font-family:'Open Sans', Calibri, Arial, san-serif;
	font-size:150%;
	background:rgba(255,255,255,0.8);
	display:block;
}

#faq-bm{
	margin-left:auto;
	margin-right:auto;
	padding:3%;
	width:90%;
	font-family:'Open Sans', Calibri, Arial, san-serif;
	font-size:150%;
	background:rgba(255,255,255,0.8);
	display:none;
}


.faq-bg{
	background-size:cover;
	background-position:top;
	background-attachment:fixed;
	background-repeat:no-repeat;

}

.button-lang{
	font-family:'Open Sans', Calibri, Arial, san-serif;
	font-size:20px;
	color:white;
	background-color:maroon;
	border-radius:20px;
	margin-right:2%;
	padding:1%;
}

.button-lang:hover{
	color:maroon;
	background-color:white;
}
